<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>gatitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button color="danger" (click)="addNewGatito();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor = "let g of gatitos" [routerLink] = "['/gatitos',g.id]">
      <ion-avatar>
        <ion-img [src] = "g.imageURL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{g.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>




